Repository BakcylProgramowania/paragon_back, pull requests merged in 2024-01, with the labels that each got.

#17 add /login
  src/api/controller/MyController.hpp
  src/api/dto/DTOs.hpp
  src/api/dto/LoginDTOs.hpp
Labels: enhancement, api

#30 28 during a pull request deploy is done even though it shouldnt be
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Labels: bug

#27 26 paragon stagging and paragon prod containers have error
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Labels: bug

#31 Update readme
  README.md
Labels: documentation

#33 32 c-cpp.yml only while push to main
  .github/workflows/c-cpp.yml
Labels: bug

#29 (db) add connection to db
  Dockerfile
  appbuild.sh
  appstarter.sh
  src/CMakeLists.txt
  src/database/CMakeLists.txt
  src/database/database.cpp
  src/database/database.hpp
  src/main.cpp
  test/CMakeLists.txt
  test/database/CMakeLists.txt
  test/database/databaseTest.cpp
Labels: enhancement, database

#36 Update README.md
  README.md
Labels: documentation

#35 add connection between api, core and db
  Dockerfile
  README.md
  src/api/CMakeLists.txt
  src/api/SwaggerComponent.hpp
  src/api/controller/MyController.hpp
  src/core/CMakeLists.txt
  src/core/authenticator.cpp
  src/core/authenticator.hpp
  src/core/core.cpp
  src/core/core.hpp
  src/database/database.cpp
  src/database/database.hpp
  src/main.cpp
  test/core/CMakeLists.txt
  test/core/core_test.cpp
  test/database/databaseTest.cpp
Labels: enhancement, api, core

#44 Adding register
  src/api/controller/MyController.hpp
  src/api/dto/RegisterDTOs.hpp
  src/core/authenticator.cpp
  src/core/authenticator.hpp
  src/database/database.cpp
  src/database/database.hpp
Labels: enhancement, api, database, core

#42 Update readme
  README.md
Labels: documentation

#41 Update c-cpp.yml
  .github/workflows/c-cpp.yml
Labels: bug, github workflows

#39 Fix mongodb instalation
  Dockerfile
  src/CMakeLists.txt
  src/database/CMakeLists.txt
  src/database/database.cpp
  src/database/database.hpp
  src/database/databaseImpl.cpp
  src/database/databaseImpl.hpp
Labels: database, docker

#47 46 branch not set in c cppyml
  .github/workflows/c-cpp.yml
Labels: bug

#45 Adding register
  src/api/controller/MyController.hpp
  src/api/dto/RegisterDTOs.hpp
  src/core/authenticator.cpp
  src/core/authenticator.hpp
  src/core/core.cpp
  src/core/core.hpp
  src/database/database.hpp
  test/core/core_test.cpp
Labels: duplicate, enhancement, api, database, core

#55 add-better-response-for-/register
  src/api/controller/MyController.hpp
  src/api/dto/RegisterDTOs.hpp
  src/core/authenticator.cpp
  src/core/authenticator.hpp
Labels: enhancement, api, core

#51 Bearer token implementation & improvments in /register response
  Dockerfile
  src/api/controller/MyController.hpp
  src/api/dto/RegisterDTOs.hpp
  src/core/CMakeLists.txt
  src/core/authenticator.cpp
  src/core/authenticator.hpp
  src/core/core.hpp
  src/core/token.cpp
  src/core/token.hpp
  src/database/CMakeLists.txt
  src/database/database.cpp
  src/database/database.hpp
  src/database/databaseImpl.cpp
  src/database/databaseImpl.hpp
  test/core/core_test.cpp
Labels: enhancement, api, database, core, docker
