Repository BakcylProgramowania/paragon_back, pull requests merged in 2024-03, with the labels that each got.

#67 Recipt fix
  src/api/controller/MyController.hpp
  src/core/reciptOperations.cpp
  src/database/database.cpp
  src/database/database.hpp
  src/database/databaseImpl.cpp
  src/database/databaseImpl.hpp
  test/database/databaseTest.cpp
Labels: bug, api, database, core

#68 swagger fixed
  src/api/SwaggerComponent.hpp
Labels: api

#69 [BB2-16] Added namespaces
  src/api/Api.cpp
  src/api/AppComponent.hpp
  src/api/EnvironmentWrapper.hpp
  src/api/SwaggerComponent.hpp
  src/api/controller/MyController.hpp
  src/api/dto/BalanceDTOs.hpp
  src/api/dto/DTOs.hpp
  src/api/dto/FriendsDTOs.hpp
  src/api/dto/LoginDTOs.hpp
  src/api/dto/ReciptDTOs.hpp
  src/api/dto/RegisterDTOs.hpp
  src/core/accountManager.cpp
  src/core/accountManager.hpp
  src/core/authenticator.cpp
  src/core/authenticator.hpp
  src/core/reciptOperations.cpp
  src/core/reciptOperations.hpp
  src/core/structures.hpp
  src/core/token.cpp
  src/core/token.hpp
  src/database/database.cpp
  src/database/database.hpp
  src/database/databaseImpl.cpp
  src/database/databaseImpl.hpp
  src/main.cpp
  test/core/core_test.cpp
  test/database/databaseTest.cpp
Labels: api, database, core

#73 [BB2-53] Repair receipt name
  src/api/controller/MyController.hpp
  src/api/dto/ReceiptDTOs.hpp
  src/core/CMakeLists.txt
  src/core/receiptOperations.cpp
  src/core/receiptOperations.hpp
Labels: api, core

#71 [BB2-53] Repair receipt name
  src/api/controller/MyController.hpp
  src/api/dto/ReceiptDTOs.hpp
  src/api/dto/ReciptDTOs.hpp
  src/core/CMakeLists.txt
  src/core/receiptOperations.cpp
  src/core/receiptOperations.hpp
Labels: api, core

#72 [BB2-53] Repair receipt name
  src/api/controller/MyController.hpp
  src/api/dto/ReceiptDTOs.hpp
  src/api/dto/ReciptDTOs.hpp
  src/core/CMakeLists.txt
  src/core/receiptOperations.cpp
  src/core/receiptOperations.hpp
Labels: api, core

#75 [BB2-51] recipt history
  .gitignore
  src/api/controller/MyController.hpp
  src/core/receiptOperations.cpp
  src/core/receiptOperations.hpp
  src/core/structures.hpp
  src/database/database.cpp
  src/database/database.hpp
  src/database/databaseImpl.cpp
  src/database/databaseImpl.hpp
Labels: enhancement, api, database, core

#80 [BB2-55], [BB2-57], [BB2-62] - /receipts, /getReceipt
  src/api/controller/MyController.hpp
  src/api/dto/FriendsDTOs.hpp
  src/api/dto/ReceiptDTOs.hpp
  src/core/accountManager.cpp
  src/core/accountManager.hpp
  src/core/receiptOperations.cpp
  src/core/receiptOperations.hpp
  src/core/structures.hpp
  src/database/database.cpp
  src/database/database.hpp
  src/database/databaseImpl.cpp
  src/database/databaseImpl.hpp
Labels: enhancement, api, database, core
